html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  overflow: hidden;
}

#victoryPoints {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bolder;
  padding: 10px;
  background-color: black;
  border: 4px solid #919191;
}

#startButtonContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#startButton {
  position: relative;
  display: block;
  margin: 21vh auto;
  width: 18vmin;
  background-color: black;
  border: 4px solid #919191;
  color: white;
  font-weight: bolder;
  padding: 10px;
}
